html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}

body {
  margin:0;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 20px;
}

h3, h4, h5, h6, p {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
}

p {
  font-size: 14px;
}

block_img {
  float: right;
  clear: left;
}

tr:nth-child(even) {
    background-color: #DDDDDD;
}
.small {
  font-size: 8px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
}

.pass, .fail, .low-signal, .mixed-results {
  padding: 3px 6px;
  font-weight: bold;
  color: white;
}

.pass {
  background-color: #DDFFDD;
}

.fail {
  background-color: #FFDDDD;
}

.low-signal, .mixed-results {
  background-color: #FFDDAA;
}

.pagebreak { page-break-before: always; }
